<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- %enc{...}{CRLF} escapes newlines in the message, so user-supplied values (coupon
                 code, user ID) can't forge extra log lines by embedding line breaks. -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %enc{%msg}{CRLF}%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.empik.couponservice" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
